<div class="col-md-8">
  <div class="media">
    <%= @user.email %>
    <ul>
      <li>
       <%= render @user.items %>
      </li>
    </ul>
    <div class="col-md-8">
      <div class="media">
      <%= render partial: 'items/form' %>
      </div>
    </div>
  </div>
</div>
